.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table{
    margin-top: 15px;
}
.titulo{
    margin-top: 20px;
}